<!DOCTYPE html>
<html lang="en">
<head>
	<title>Audion Files List</title>

	<!-- BEGIN META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="your,keywords">
	<meta name="description" content="Short explanation about this website">
	<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/bootstrap.css?1422792965" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/materialadmin.css?1425466319" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/font-awesome.min.css?1422529194" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/libs/select2/select2.css?1424887856" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/libs/multi-select/multi-select.css?1424887857" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css?1424887858" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/libs/bootstrap-colorpicker/bootstrap-colorpicker.css?1424887860" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/libs/bootstrap-tagsinput/bootstrap-tagsinput.css?1424887862" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/libs/typeahead/typeahead.css?1424887863" />
		<link type="text/css" rel="stylesheet" href="../static/assets/css/theme-default/libs/dropzone/dropzone-theme.css?1424887864" />
		<!-- END STYLESHEETS -->


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="../assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="../assets/js/libs/utils/respond.min.js?1403934956"></script>
	<![endif]-->
</head>
<body class="menubar-hoverable header-fixed ">



	<!-- BEGIN BASE-->
	<div id="base">

		<!-- BEGIN OFFCANVAS LEFT -->
		<div class="offcanvas">
		</div><!--end .offcanvas-->
		<!-- END OFFCANVAS LEFT -->

		<!-- BEGIN CONTENT-->
		<div id="content">
			<section>
				<div class="section-header">
					<ol class="breadcrumb">
						<li class="active">Flash Briefing</li>
					</ol>
				</div>
				<div class="section-body contain-lg">
					<div class="row">

						<div class="col-md-6 col-md-offset-3">
							<div class="card">



								<!-- BEGIN FORM TAB PANES -->
								<div class="card-body">
									<div class="col-md-offset-2 col-md-4">
										<a class="btn btn-block ink-reaction btn-info" href="/show_upload">Upload Files</a>
									</div>
									<div class="col-md-4">
										<a class="btn btn-block ink-reaction btn-danger" href="/show_delete">Delete Files</a>
									</div>


								</div><!--end .card-body.tab-content -->
								<!-- END FORM TAB PANES -->

							</div><!--end .card -->
						</div><!--end .col -->

					</div><!--end .row -->
				</div><!--end .section-body -->
			</section>
		</div><!--end #content-->
		<!-- END CONTENT -->

	</div><!--end #base-->
	<!-- END BASE -->


	<!-- BEGIN JAVASCRIPT -->
	<script src="../static/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
	<script src="../static/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
	<script src="../static/assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="../static/assets/js/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../static/assets/js/libs/spin.js/spin.min.js"></script>
	<script src="../static/assets/js/libs/autosize/jquery.autosize.min.js"></script>
	<script src="../static/assets/js/libs/select2/select2.min.js"></script>
	<script src="../static/assets/js/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="../static/assets/js/libs/multi-select/jquery.multi-select.js"></script>
	<script src="../static/assets/js/libs/inputmask/jquery.inputmask.bundle.min.js"></script>
	<script src="../static/assets/js/libs/moment/moment.min.js"></script>
	<script src="../static/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
	<script src="../static/assets/js/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
	<script src="../static/assets/js/libs/typeahead/typeahead.bundle.min.js"></script>
	<script src="../static/assets/js/libs/dropzone/dropzone.min.js"></script>
	<script src="../static/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
	<script src="../static/assets/js/core/source/App.js"></script>
	<script src="../static/assets/js/core/source/AppNavigation.js"></script>
	<script src="../static/assets/js/core/source/AppOffcanvas.js"></script>
	<script src="../static/assets/js/core/source/AppCard.js"></script>
	<script src="../static/assets/js/core/source/AppForm.js"></script>
	<script src="../static/assets/js/core/source/AppNavSearch.js"></script>
	<script src="../static/assets/js/core/source/AppVendor.js"></script>
	<script src="../static/assets/js/core/demo/Demo.js"></script>
	<script src="../static/assets/js/core/demo/DemoFormComponents.js"></script>
	<!-- END JAVASCRIPT -->

</body>
</html>
